@import "tailwindcss";
/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi Fade In */
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}